# Arquivos do Python/Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Arquivos do Node.js/Frontend
node_modules/
.pnp.*
.yarn/
*.log
dist/
build/

# Arquivos do sistema
.DS_Store
Thumbs.db